@page
@model ProjectPRN221_Supermarket.Pages.Products.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add New Product</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Product.ProductName" class="control-label"></label>
        <input asp-for="Product.ProductName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.UnitPrice" class="control-label"></label>
        <input asp-for="Product.UnitPrice" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.QuantityInStock" class="control-label"></label>
        <input asp-for="Product.QuantityInStock" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Category" class="control-label"></label>
        <select asp-for="Product.CategoryId" class="form-control">
            <option value="">Select Category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="SelectedSupplier" class="control-label">Select Supplier</label>
        <select asp-for="SelectedSupplier" class="form-control">
            <option value="">Select Supplier</option>
            @foreach (var supplier in Model.Suppliers)
            {
                <option value="@supplier.SupplierId">@supplier.SupplierName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="PurchaseOrderUnitPrice" class="control-label">Unit Price for Purchase Order</label>
        <input asp-for="PurchaseOrderUnitPrice" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
