@page
@model ProjectPRN221_Supermarket.Pages.Products.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add New Product</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Product.ProductName" class="control-label"></label>
        <input asp-for="Product.ProductName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.UnitPrice" class="control-label"></label>
        <input asp-for="Product.UnitPrice" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.QuantityInStock" class="control-label"></label>
        <input asp-for="Product.QuantityInStock" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ExpirationDate" class="control-label"></label>
        <input asp-for="ExpirationDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Category" class="control-label"></label>
        <select asp-for="Product.Category" class="form-control">
            <option value="">Select Category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>